main.level-up h1 {
  color: #f3cc0b;
  text-shadow: 6px 2px 1px #e41d00;
}

main.level-up h2 {
  color: #f3cc0b;
  text-shadow: none;
}

.level-up-labels {
  text-align: right;
}

.level-up-grid {
  --grid-gap: 15px;

  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  grid-template-columns: 1fr repeat(4, var(--question-box-witdh)) 1fr;
  grid-row: span 2;
  grid-gap: var(--grid-gap);
  padding-bottom: 5rem;
}
