.super-power {
  padding: 20px;
  background: radial-gradient(
    circle,
    rgba(250, 251, 63, 1) 0%,
    rgba(245, 252, 70, 0) 28%
  );
}

.super-power__image {
  width: 175px;
  margin: 32px;
  animation: 0.5s ease-out 0.4s alternate spinner, 0.5s linear appear;
  transform-style: preserve-3d;
}

@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
