main {
  background: url("/public/images/background.png") no-repeat;
  background-position: top;
  background-size: cover;
  text-align: center;
  height: 100%;
  z-index: 1;
  position: relative;
}

main.level-up {
  background-image: url("/public/images/background-level-up.png");
}

h1 {
  text-align: inherit;
  color: white;
  text-shadow: var(--h1-text-shadow);
  font-size: var(--h1-font-size);
  padding: 112px 0 35px 0;
}

main.level-up h1 {
  color: #f3e60d;
}

p {
  text-align: inherit;
}
