.App {
  background-color: white;
  text-align: center;
  height: 100vh;
  display: flex;
}

.App h1 {
  color: white;
  text-shadow: var(--h1-text-shadow);
  font-size: var(--h1-font-size);
  margin: 112px 0 0 0;
}

.main {
  background-image: url('/public/images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  height: var(--main-height);
  width: var(--main-width);
  margin: auto;
}
